

<div>
		<h2>Single Restaurant: {{restaurant.name}}</h2>
		<img class="item-img" src="{{restaurant.image}}"/>	

		<br>
		<br>
		
		<div class='button-list'>
			<button id='details-btn'>Show Other Restaurants</button>
			<button id='menu-btn'>Show Menu</button>
			<button><a class="main-button" href="/restaurants">Go Back to Restaurant List</a></button>
			<button id="delete-btn">Delete</button>
		</div>
		<br>
		<br>
	<div id='menu'></div>

	<ul id='list'></ul>
	 
	<script src="/script.js"></script> 
	
</div>

 


